/* Give your page a fun background color */
html {
    background-color: #e3eaa7;
    height: 100%;
    border: 45px solid #405d27;
}


/* Make the header and footer a different color from the background */
header {
    background-color: #86af49;
    text-align: center;
}

img {
    height: 300px;
    border: 15px solid #b5e7a0;

}

.list {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

ul {
    width:50%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin-top: 80px;
}

p {
    color: #d5e1df;
    font-style: italic;
}

footer {
    background-color: #86af49;
    height: 50px;
}

/* Align the h1 containing your name in the center of the header*/


/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */